<panel name="products" class="split">
  <nav class="selectable-list">
    <ul>
      <li><a ng-click="ctrl.new_product()" translate>new product</a></li>
      <li ng-repeat="product in ctrl.products track by $index"
          ng-class="{selected: ctrl.product == product}">
        <a ng-click="ctrl.view(product)">{{product.name}}</a>
        <a ng-click="ctrl.delete_product($index)">x</a>
      </li>
    </ul>
  </nav>
  <div class="right" ng-if="ctrl.product">
    <form name="product">
      <div class="input-group">
        <label class="input-group-addon" for="name" translate>name</label>
        <input class="form-control" id="name" ng-model="ctrl.product.name"/>
      </div>
      <div class="input-group">
        <label class="input-group-addon" for="image" translate>image</label>
        <image-picker images="ctrl.images" path="uploads"
                      upload="ctrl.upload(file, path)"
                      ng-model="ctrl.product.image_name" size="50">
          <input class="form-control" ng-model="ctrl.product.image_name" readonly/>
        </image-picker>
      </div>
      <div class="input-group">
        <label class="input-group-addon" for="price" translate>price</label>
        <input class="form-control" id="price" ng-model="ctrl.product.price"/>
      </div>
      <div class="input-group">
        <label class="input-group-addon" for="category" translate>category</label>
        <select ng-options="item as item.name for item in ctrl.categories track by item.id"
                ng-model="ctrl.product.category" class="form-control" ng-required></select>
      </div>
      <div class="input-group editor">
        <textarea ui-tinymce="ctrl.tinymce_options" class="form-control" ng-model="ctrl.product.content"></textarea>
      </div>
      <div class="right input-group">
        <input class="btn btn-default" type="button" ng-value="'save' | translate" ng-click="ctrl.save()" />
      </div>
    </form>
  </div>
</panel>
