.image-picker {
    position: relative;
}
.image-picker [ng-transclude] {
    overflow: hidden;
}
.image-picker .dropdown {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
}
.image-picker .pages {
    text-align: center;
}
.image-picker .pages ul {
    margin: 10px 0 0;
    display: inline-block;
}
.image-picker ul.images {
    padding: 0;
    list-style: none;
    max-height: calc(4 * 70px);
    overflow-y: scroll;
    clear: both;
}
.image-picker .images li {
    padding: 10px;
    clear: both;
    float: left;
    width: 100%;
    height: 70px;
    cursor: pointer;
}
.image-picker .images li.selected {
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
.image-picker .images li:hover {
    background-color: #eee;
}
.image-picker .controls {
    padding: 10px;
    float: left;
    width: 100%;
    clear: both;
}
.image-picker .controls .search {
    float: left;
    width: 60%;
    padding: 0;
    padding-right: 15px;
}
.image-picker .controls .search input,
.image-picker .controls .search label {
    height: 32px;
}
.image-picker .controls .file {
    float: left;
    width: 40%;
    position: relative;
    padding: 5px 10px;
    overflow: hidden;
}
.image-picker .file p {
    margin: 0;
}
.image-picker .file input {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 99em;
    opacity: 0;
}
