.image-picker {
    position: relative;
}
.image-picker [ng-transclude] {
    overflow: hidden;
}
.image-picker ul {
    list-style: none;
    position: absolute;
    z-index: 1000;
    padding: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
}
.image-picker li {
    padding: 10px;
}
.image-picker li.selected {
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
.image-picker li:hover {
    background-color: #eee;
}
.image-picker .file {
    position: relative;
    padding: 5px 10px;
}
.image-picker .file p {
    margin: 0;
}
.image-picker .file input {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 99em;
    opacity: 0;
}
